<section>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex="50" class="form-container">
      <div *ngIf="!isLoading">
        <form class="form" #f="ngForm" (ngSubmit)="submitHandler(f.value)">
          <span class="title">Регистрация</span>
          <!--          <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>-->
          <span *ngIf="usernameHelp"><span class="important">Потребителското име</span> трябва да е минимум <span
            class="important">3 латинки знака</span> и е <span class="important">задължително</span></span>
          <hr>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Потребителско име</mat-label>
                  <label>
                    <input #username="ngModel" id="username" name="username" matInput type="text" ngModel required
                           pattern="^[a-zA-Z\.0-9]{3,}">
                  </label>
                  <mat-icon matSuffix (mouseover)="usernameHelp=true" (mouseout)="usernameHelp=false">help_outline
                  </mat-icon>
                  <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    Потребителското име е невалидно!
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Email</mat-label>
                  <label>
                    <input #email="ngModel" id="email" name="email" matInput type="email" ngModel required
                           pattern="^[a-zA-Z\.0-9]{1,}@\w+\.[a-z]{1,}$">
                  </label>
                  <mat-error *ngIf="email.errors?.required">
                    Имейлът е задължителен!
                  </mat-error>
                  <mat-error *ngIf="email.invalid && (email.dirty)">
                    Имейлът е невалиден!
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Име</mat-label>
                  <label>
                    <input #firstName="ngModel" id="firstName" name="firstName" matInput type="text" ngModel required>
                  </label>
                  <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    Името е задължително!
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Фамилия</mat-label>
                  <label>
                    <input #lastName="ngModel" id="lastName" name="lastName" matInput type="text" ngModel required>
                  </label>
                  <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    Фамилията е задължителна!
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Парола</mat-label>
                  <label>
                    <input #password="ngModel" id="password" name="password" matInput
                           [type]="hide ? 'password' : 'text'" ngModel required minlength="4">
                  </label>
                  <mat-error *ngIf="password.errors?.required && password.touched">
                    Паролата е задължителна!
                  </mat-error>
                  <mat-error *ngIf="password.errors?.minlength && password.touched">
                    Паролата трябва да е поне 4 символа!
                  </mat-error>
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                </mat-form-field>

              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Повтори парола</mat-label>
                  <label>

                    <input #rePassword="ngModel" id="repeatPassword" name="repeatPassword" matInput
                           [type]="hide ? 'password' : 'text'" ngModel required pattern="{{ password.value }}">
                  </label>
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="rePassword.errors?.required && rePassword.touched">
                    Паролата е задължителна!
                  </mat-error>
                  <mat-error *ngIf="rePassword.errors?.pattern && rePassword.touched">
                    Паролите не съвпадат!
                  </mat-error>
                </mat-form-field>
                <!--                {{rePassword.errors | json}}-->
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="form-group full-width">
                  <mat-label>Отдел</mat-label>
                  <mat-select #jobTitle="ngModel" id="jobTitle" name="jobTitle" ngModel required>
                    <mat-option *ngFor="let job of jobs" [value]="job['_id']">
                      {{job.title}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)">
                    Отделът е задължителен
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-slide-toggle
                  #isLead="ngModel"
                  id="isLead"
                  name="isLead"
                  class="margin form-group"
                  color="primary"
                  ngModel>
                  Началник на отдел
                </mat-slide-toggle>
                <mat-slide-toggle
                  #isSupport="ngModel"
                  id="isSupport"
                  name="isSupport"
                  class="margin form-group"
                  color="warn"
                  ngModel>
                  Поддръжка на сайта
                </mat-slide-toggle>
                <mat-slide-toggle
                  #isAdmin="ngModel"
                  id="isAdmin"
                  name="isAdmin"
                  class="margin form-group"
                  color="accent"
                  ngModel>
                  Администратор
                </mat-slide-toggle>
              </td>
            </tr>
          </table>
          <hr>
          <div class="button-container">
            <button mat-raised-button color="primary" class="button" [disabled]="f.invalid">Регистрация</button>
          </div>

          <!--        <p *ngIf="username.touched && username.errors?.required" class="error">-->
          <!--          Потребителското име е задължително!-->
          <!--        </p>-->
          <!--        {{username.errors}}-->
          <!--        <p *ngIf="username.touched && username.errors?.emailValidator" class="error">-->
          <!--          Потребителското име не е валидно! Минимум 3 латински букви.-->
          <!--        </p>-->
          <!--        <p *ngIf="email.touched && email.errors?.required" class="error">-->
          <!--          Имейлът е задължително!-->
          <!--        </p>-->
          <!--        <p *ngIf="email.touched && email.errors?.emailValidator" class="error">-->
          <!--          Имейлът не е валиден!-->
          <!--        </p>-->
        </form>
        <!--      -->
      </div>
    </div>
  </div>
</section>
