<section>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex="50" class="form-container">
      <div *ngIf="!isLoading">
        <form class="form" #f="ngForm" (ngSubmit)="submitHandler(f.value)">
          <span class="title">Регистрация</span>
          <hr>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Потребителско име</mat-label>
                  <label>
                    <input #username="ngModel" id="username" name="username" matInput type="text" ngModel required
                           pattern="^[a-zA-Z\.0-9]{3,}">
                  </label>
                  <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
                  <mat-hint (mouseover)="changeText=true" (mouseout)="changeText=false">
                    <span *ngIf="!changeText">Инфо</span>
                    <span
                      *ngIf="changeText">Потребителското име трябва да е минимум 3 латинки знака и е задължително</span>
                  </mat-hint>
                </mat-form-field>
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                  <app-error [message]="'Username is invalid'"></app-error>
                </div>
              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Email</mat-label>
                  <label>
                    <input #email="ngModel" id="email" name="email" matInput type="email" ngModel required
                           pattern="^[a-zA-Z\.0-9]{1,}@\w+\.[a-z]{1,}$">
                  </label>
                </mat-form-field>
                <div *ngIf="email.invalid && (email.touched)">
                  <app-error [message]="'Email is required!'"></app-error>
                </div>
                <div *ngIf="email.invalid && (email.dirty)">
                  <app-error [message]="'Email is not valid'"></app-error>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Име</mat-label>
                  <label>
                    <input #firstName="ngModel" id="firstName" name="firstName" matInput type="text" ngModel required>
                  </label>
                </mat-form-field>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                  <app-error [message]="'First name is required!'"></app-error>
                </div>
              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Фамилия</mat-label>
                  <label>
                    <input #lastName="ngModel" id="lastName" name="lastName" matInput type="text" ngModel required>
                  </label>
                </mat-form-field>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                  <app-error [message]="'last name is required!'"></app-error>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Парола</mat-label>
                  <label>
                    <input #password="ngModel" id="password" name="password" matInput
                           [type]="hide ? 'password' : 'text'" ngModel required>
                  </label>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <app-error [message]="'password is required!'"></app-error>
                </div>
              </td>
              <td>
                <mat-form-field appearance="fill" class="full-width form-group">
                  <mat-label>Повтори парола</mat-label>
                  <label>
                    <input #rePassword="ngModel" id="repeatPassword" name="repeatPassword" matInput
                           [type]="hide ? 'password' : 'text'" ngModel required>
                  </label>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
                  <app-error [message]="'Repeat password is required!'"></app-error>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill" class="form-group full-width">
                  <mat-label>Отдел</mat-label>
                  <mat-select #jobTitle="ngModel" id="jobTitle" name="jobTitle" ngModel required>
                    <mat-option *ngFor="let job of jobs" [value]="job['_id']">
                      {{job.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)">
                  <app-error [message]="'Job Title is required!'"></app-error>
                </div>
              </td>
              <td>
                <mat-slide-toggle
                  #isLead="ngModel"
                  id="isLead"
                  name="isLead"
                  class="margin form-group"
                  color="primary"
                  ngModel>
                  Началник на отдел
                </mat-slide-toggle>
                <mat-slide-toggle
                  #isSupport="ngModel"
                  id="isSupport"
                  name="isSupport"
                  class="margin form-group"
                  color="warn"
                  ngModel>
                  Поддръжка на сайта
                </mat-slide-toggle>
                <mat-slide-toggle
                  #isAdmin="ngModel"
                  id="isAdmin"
                  name="isAdmin"
                  class="margin form-group"
                  color="accent"
                  ngModel>
                  Администратор
                </mat-slide-toggle>
              </td>
            </tr>
          </table>
          <hr>
          <div class="button-container">
            <button mat-raised-button color="primary" class="button" [disabled]="f.invalid">Регистрация</button>
          </div>

          <!--        <p *ngIf="username.touched && username.errors?.required" class="error">-->
          <!--          Потребителското име е задължително!-->
          <!--        </p>-->
          <!--        {{username.errors}}-->
          <!--        <p *ngIf="username.touched && username.errors?.emailValidator" class="error">-->
          <!--          Потребителското име не е валидно! Минимум 3 латински букви.-->
          <!--        </p>-->
          <!--        <p *ngIf="email.touched && email.errors?.required" class="error">-->
          <!--          Имейлът е задължително!-->
          <!--        </p>-->
          <!--        <p *ngIf="email.touched && email.errors?.emailValidator" class="error">-->
          <!--          Имейлът не е валиден!-->
          <!--        </p>-->
        </form>
        <!--      -->
      </div>
      <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</section>
