<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <a [routerLink]="[node.url]">{{node.name}}</a>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <a mat-icon-button matTreeNodeToggle
       [attr.aria-label]="'Toggle ' + node.name">
      <a [routerLink]="[node.url]">{{node.name}}</a>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </a>
  </mat-tree-node>
</mat-tree>
