<!--//username, email, jobTitle, password, repeatPassword, leadTeam,createdBy firstName,lastName-->
<div class="container">
  <div class="center">
    <form class="form" #f="ngForm" (ngSubmit)="registerHandler(f.value)">
      <span class="title">Регистрация</span>
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Потребителско име</mat-label>
              <label>
                <input #userNameInput="ngModel" id="username" name="username" matInput type="text" ngModel required
                       pattern="^[a-zA-Z\.-]{3,}">
              </label>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Email</mat-label>
              <label>
                <input #emailInput="ngModel" id="email" name="email" matInput type="email" ngModel required
                       pattern="^[a-zA-Z\.-]{1,}@\w+\.[a-z]{1,}$">
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Име</mat-label>
              <label>
                <input #firstNameInput="ngModel" id="firstName" name="firstName" matInput type="text" ngModel required>
              </label>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Фамилия</mat-label>
              <label>
                <input #lastNameInput="ngModel" id="lastName" name="lastName" matInput type="text" ngModel required>
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Парола</mat-label>
              <label>
                <input #passwordInput="ngModel" id="password" name="password" matInput
                       [type]="hide ? 'password' : 'text'" ngModel required>
              </label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="full-width form-group">
              <mat-label>Повтори парола</mat-label>
              <label>
                <input #rePasswordInput="ngModel" id="repeatPassword" name="repeatPassword" matInput
                       [type]="hide ? 'password' : 'text'" ngModel required>
              </label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill" class="form-group">
              <mat-label>Отдел</mat-label>
              <mat-select id="jobTitle" name="jobTitle" ngModel>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-slide-toggle
              #isLead="ngModel"
              id="isLead"
              name="isLead"
              class="example-margin form-group"
              color="primary"
              checked="false" ngModel>
              Началник
            </mat-slide-toggle>
          </td>
        </tr>
        <tr>
          <td>
            <mat-checkbox class="example-margin"
                          [checked]="allComplete"
                          [indeterminate]="someComplete()"
                          (change)="setAll($event.checked)">
              {{task.name}}
            </mat-checkbox>
            <ul>
              <li *ngFor="let subtask of task.subtasks; index as i;">
                <mat-checkbox
                  #[subtask.name]="ngModel"
                  [id]=subtask.name
                  [name]=subtask.name

                  [(ngModel)]="subtask.completed"
                              [color]="subtask.color"
                              (ngModelChange)="updateAllComplete();addRole(subtask)">
                  {{subtask.name}}
                </mat-checkbox>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <div class="button-container">
        <button mat-raised-button color="primary" class="button">Регистрация</button>
      </div>
    </form>
  </div>
</div>
{{roles}}
