<ng-container *ngTemplateOutlet="user ? yes : no"></ng-container>
<ng-template #yes>
  <section>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
      <div fxFlex="50" class="form-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user.createdAt | date:'dd.MM.YYYY HH:SS'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>Администратор: {{user.isAdmin| yesNo}}</p>
            <p>Началник: {{user.isLead | yesNo}}</p>
            <p>Позиция: {{user.jobTitle.title}}</p>
          </mat-card-content>
          <!--        <mat-divider></mat-divider>-->
          <!--        <mat-card-actions fxLayoutAlign="center center">-->
          <!--          <button mat-button class="button">Промени</button>-->
          <!--          <button mat-button class="button">-->
          <!--            Одобри-->
          <!--          </button>-->
          <!--          <button mat-button class="button">-->
          <!--            Откажи-->
          <!--          </button>-->
          <!--        </mat-card-actions>-->
        </mat-card>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #no>
  <app-loading-dialog></app-loading-dialog>
</ng-template>
