h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.text-center {
  text-align: center !important
}

.example-spacer {
  flex: 1 1 30%;
}
.h3, h3 {
  font-size: 1.75rem
}

.basic-container {
  padding: 30px;
}
