<section>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex="50" class="form-container">

      <form class="form" #f="ngForm" (ngSubmit)="submitHandler(f.value)">
        <span class="title">Добавяне на събитие</span>
        <hr>
        <mat-form-field appearance="fill" class="full-width form-group">
          <mat-label>Въведете период</mat-label>
          <mat-date-range-input [rangePicker]="picker2">
            <label for="from"></label>
            <input matStartDate placeholder="Start date" #from="ngModel" id="from" name="from" ngModel required>
            <label for="to"></label>
            <input matEndDate placeholder="End date" #to="ngModel" id="to" name="to" ngModel required>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-date-range-picker touchUi #picker2 disabled="false"></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width form-group">
          <mat-label>Описание</mat-label>
          <label>
            <textarea #description="ngModel" id="description" name="description" matInput type="text"
                      ngModel></textarea>
          </label>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group full-width">
          <mat-label>Събитие</mat-label>
          <mat-select class="select" #event="ngModel" id="event" name="event" ngModel required
                      (closed)="categorySelect(event.value)">
            <mat-option *ngFor="let category of categories" [value]="category['value']" class="select">
              {{category.text}}
              <mat-divider></mat-divider>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="event.invalid && (event.dirty || event.touched)">
            Типа на събитието е задължително
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-group full-width" *ngIf="hide">
          <mat-label>Заместник</mat-label>
          <mat-select class="select" #event="ngModel" id="replacement" name="replacement" ngModel required *ngIf="hide">
            <mat-option *ngFor="let user of users" [value]="user['_id']" class="select">
              {{user["firstName"]}} {{user["lastName"]}}
              <mat-divider></mat-divider>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="event.invalid && (event.dirty || event.touched)">
            Типа на събитието е задължително
          </mat-error>
        </mat-form-field>
        <hr>
        <div class="button-container">
          <button mat-raised-button color="primary" class="button"  [class.disabled]="f.invalid" [disabled]="f.invalid">Регистрация</button>
        </div>
      </form>
    </div>
  </div>
</section>
