<div class="basic-container">
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <mat-button-toggle-group>
        <mat-button-toggle
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="material-icons-outlined">undo</i>
        </mat-button-toggle>
        <mat-button-toggle
          mwlCalendarToday
          [(viewDate)]="viewDate">
          <i class="material-icons-outlined">today</i>
        </mat-button-toggle>
        <mat-button-toggle
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="material-icons-outlined">redo</i>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'bg' }}</h3>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-button-toggle-group>
        <mat-button-toggle
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          <i class="material-icons-outlined">calendar_today</i>
        </mat-button-toggle>
        <mat-button-toggle
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          <i class="material-icons-outlined">date_range</i>
        </mat-button-toggle>
        <mat-button-toggle
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          <i class="material-icons-outlined">event</i>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
  </mat-grid-list>
  <br/>
  <div [ngSwitch]="view">
    <!--suppress TypeScriptValidateTypes -->
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [weekStartsOn] = "weekStartsOn"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [weekStartsOn] = "weekStartsOn"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
