<button mat-icon-button [matBadge]="count" matBadgeColor="accent" [matBadgeHidden]="hidden"
        [matMenuTriggerFor]="messages" aria-label="Example icon-button with a menu">
  <i class="material-icons-outlined">email</i>
</button>
<button mat-icon-button [matMenuTriggerFor]="settings" aria-label="Example icon-button with a menu">
  <i class="material-icons-outlined">settings</i>
</button>
<mat-menu #messages="matMenu">
  <ng-container *ngTemplateOutlet="unreadMessages.length >0 ? unread : noNew "></ng-container>
  <ng-template #unread>
    <button mat-menu-item *ngFor="let unreadMessage of unreadMessages" (click)="readMessage(unreadMessage)">
      <mat-icon>mark_email_unread</mat-icon>
      <span>{{unreadMessage.title}}</span>
    </button>
  </ng-template>
  <ng-template #noNew>
    <button mat-menu-item>
      <mat-icon>email</mat-icon>
      <span>Няма нови съобщения</span>
    </button>
  </ng-template>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/message/all">
    <mat-icon>list_alt</mat-icon>
    <span>Всички Съобщения</span>
  </button>
</mat-menu>

<mat-menu #settings="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item (click)="router.navigate(['user/profile']);">
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </button>
  <mat-divider></mat-divider>
  <button type="button" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Изход</span>
  </button>
</mat-menu>
