<section>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
    <mat-card class="example-card">
      <mat-card-content>
        <ng-container *ngTemplateOutlet="(isLogged$ | async) ? logged : notLogged">Loading...</ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<ng-template #notLogged>
  <p>Добре дошли в WorkPortal, моля влезте с вашия профил за да продължите.</p>
  <p>Може да влзенете от <a routerLink="/auth/login">тук</a>.</p>
</ng-template>
<ng-template #logged>
  <p>Здравейте, {{(user$|async).firstName}}</p>
  <p>Може да проветите за нови събития от календара <a routerLink="/events">тук</a></p>
</ng-template>
