<mat-checkbox class="margin"
              [checked]="allComplete"
              [indeterminate]="someComplete()"
              (change)="setAll($event.checked)">
  {{task.name}}
</mat-checkbox>
<ul>
  <li *ngFor="let subtask of task.subtasks; index as i;">
    <mat-checkbox
      #[subtask.title]="ngModel"
      [id]=subtask.title
      [name]=subtask.title

      [(ngModel)]="subtask.completed"
      [color]="subtask.color"
      (ngModelChange)="updateAllComplete();addRole(subtask)">
      {{subtask.title}}
    </mat-checkbox>
  </li>
</ul>
