<mat-checkbox class="margin"
              [checked]="allComplete"
              [indeterminate]="someComplete()"
              (change)="setAll($event.checked)">
  {{department.name}}
</mat-checkbox>
<ul>
  <li>
    <mat-checkbox [checked]="true" [disabled]="true" id="user" value="user" >
      user
    </mat-checkbox>
  </li>
  <li *ngFor="let role of department.roles; index as i;">
    <mat-checkbox
      #[subtask.title]="ngModel"
      [id]=role.title
      [name]=role.title
      [(ngModel)]=role.completed
      [color]=role.color
      (ngModelChange)="updateAllComplete();addRole(role)">
      {{role.title}}
    </mat-checkbox>
  </li>

</ul>
